@import "tailwindcss";

@layer base {
  html {
    font-family: 'Open Sans', sans-serif;
  }
}

@layer utilities {
  .word-spacing-relaxed {
    word-spacing: 0.25rem;
  }
  .word-spacing-wide {
    word-spacing: 1rem;
  }
}